APPLICATION_NAME=serveflow_db
SERVER_PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=serveflow_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

PGADMIN_DEFAULT_EMAIL=admin@serveflow.com.br
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_PORT=5050

JWT_SECRET=
JWT_EXPIRATION=86400000

ROOT_USERNAME=root
ROOT_PASSWORD=

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

VIACEP_URL=https://viacep.com.br/ws/{cep}/json/

MAIL_ENABLED=false
MAIL_FROM=no-reply@serveflow.local
MAIL_RESET_LINK_BASE_URL=http://localhost:5173/reset-password
MAIL_RESET_RECIPIENT_FALLBACK=no-reply@serveflow.local
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
